<div>

    <div class="flex-container">

        <div>
            <p>Tools</p>
            <ul class="list">
                <li>List your house on funda</li>
                <li>Find an NVM agent </li>
                <li>Browse </li>
                <li>What's the value of my house? </li>
            </ul>
        </div>

        <div>
            <p>Information</p>
            <ul class="list">
                <li>List your house on funda</li>
                <li>Find an NVM agent </li>
                <li>Browse </li>
                <li>What's the value of my house? </li>
            </ul>
        </div>

        <div>
            <p>Real estate agent</p>
            <ul class="list">
                <li>List your house on funda</li>
                <li>Find an NVM agent </li>
                <li>Browse </li>
                <li>What's the value of my house? </li>
            </ul>
        </div>
        <div>
            <p>About us</p>
            <ul class="list">
                <li>List your house on funda</li>
                <li>Find an NVM agent </li>
                <li>Browse </li>
                <li>What's the value of my house? </li>
            </ul>
        </div>



    </div>



    <div class="footer-2">

        <div>
            <button mat-icon-button class="example-icon favorite-icon"
                    aria-label="Example icon-button with heart icon">
                    <mat-icon>facebook</mat-icon>
                </button>
                <button mat-icon-button class="example-icon favorite-icon"
                    aria-label="Example icon-button with heart icon">
                    <mat-icon>facebook</mat-icon>
                </button>
                <button mat-icon-button class="example-icon favorite-icon"
                    aria-label="Example icon-button with heart icon">
                    <mat-icon>facebook</mat-icon>
                </button>
                <button mat-icon-button class="example-icon favorite-icon"
                    aria-label="Example icon-button with heart icon">
                    <mat-icon>facebook</mat-icon>
                </button>
                <button mat-icon-button class="example-icon favorite-icon"
                    aria-label="Example icon-button with heart icon">
                    <mat-icon>facebook</mat-icon>
                </button>
        </div>

        <div class="copyright-container">
            <ul class="copyright">
                <li>© 2021 Worker-Stock</li>
                <li>Privacy </li>
                <li>Cookies </li>
                <li>Terms of use </li>
            </ul>
        </div>

    </div>

  

</div>